
body{
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202124;
    height: 100vh;
}

.container{
    /* border: 2px solid red; */
    width:70%;
    padding: 20px;
    background-color: #202124;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(52, 41, 215, 0.6) 0px 22px 70px 4px;
}



#result{
    height: 40px;
    width:91%;
    border-radius: 10px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    color:#FFFFFF;
    font-size: 22px;
    text-align: right;
   
}

.btn{
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: auto auto auto auto auto auto auto auto auto; */
    gap : 10px;
    justify-content: center; 
    margin-top:20px;
}



.btn > button{
    height:40px;
    width:100px;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 10px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
}

.btn > button:active,
.btn > button:hover {
  outline: 0;
}

.btn > button:hover{
    background: none;
    border: 2px solid white;
  }


.item27-1{
  background-color: red;

}




